@model Lab_5_2.Models.Contact

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container m-3">
    <h2>Edycja kontaktu</h2>
    <form asp-action="Edit" method="post">
        <input asp-for="Id"/>
        <label asp-for="Email">Email</label>
        <input class="form-control" asp-for="Email"/>
        <label asp-for="Phone">Telefon</label>
        <input class="form-control" asp-for="Phone"/>
        <button class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>